# Test for emcee workflow

defaults:
  - model: default
  - optimisation: emcee
  - plasma: default
  - plasma_profiler: default
  - priors: default
  - reader: phantom

param_names: ["ion_temperature.y0", "xrcs.scale_spectra"]
diagnostics: ["xrcs", "cxff_tws_c", "cxff_pi", "efit"]
quant_to_optimise: ["xrcs.raw_spectra", "cxff_tws_c.ti", "cxff_pi.ti", "efit.wp"]

tstart: 0.05
tend: 0.06
dt: 0.01

optimisation:
  starting_samples: 20
  iterations: 4
  nwalkers: 8
  stopping_criteria_factor: 0.5
  sample_method: "random"
  stopping_criteria: "mode"
  burn_frac: 0.0
