# Test for BO workflow

defaults:
  - model: default
  - optimisation: bo
  - plasma: default
  - plasma_profiler: default
  - priors: default
  - reader: phantom

param_names: ["ion_temperature.y0", "xrcs.scale_spectra"]
diagnostics: ["xrcs", "cxff_tws_c", "cxff_pi", "efit"]
quant_to_optimise: ["xrcs.spectra_raw", "cxff_tws_c.ti", "cxff_pi.ti", "efit.wp"]

tstart: 0.05
tend: 0.06
dt: 0.01

optimisation:

  n_calls: 6
  n_initial_points: 5
  noise: 1.0E-10
  acq_func: "LCB"
  xi: 0.20
  kappa: 2
  initial_point_generator: "lhs"
  use_previous_best: False

  boundary_samples: 2000
  model_samples: 10
  posterior_samples: 1000
