image: python:3

cache:
  paths:
    - .local

variables:
  PYTHONPATH: .


unit_tests:
  stage: test
  before_script:
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
  script:
    - pytest --cov=src/ tests/unit
    - coverage report
    - coverage html
    - mv htmlcov htmlcov_unit
  allow_failure: true # For the moment
  artifacts:
    paths:
      - htmlcov_unit
    expire_in: 1 day


#integration_tests:
#  stage: test
#  before_script:
#    - pip install -r requirements.txt
#    - pip install -r testing-requirements.txt
#  script:
#    - pytest --cov=src/ tests/integration
#    - coverage report
#    - coverage html
#    - mv htmlcov htmlcov_integration
#  artifacts:
#    paths:
#      - htmlcov_integration
#    expire_in: 1 day


pages:
  stage: deploy
  before_script:
    - apt-get update && apt-get install -y default-jre-headless graphviz
    - wget -O /usr/local/lib/plantuml.jar http://sourceforge.net/projects/plantuml/files/plantuml.jar/download
    - |
      cat <<EOT > /usr/local/bin/plantuml
      #!/bin/sh -e
      java -Djava.awt.headless=true -splash:no -jar /usr/local/lib/plantuml.jar "\$@"
      EOT
    - chmod +x /usr/local/bin/plantuml
    - pip install sphinx sphinxcontrib-plantuml

  script:
    - cd doc/
    - make html
    - mv _build/html/ ../public/
    - mkdir ../public/coverage
    - mv ../htmlcov_unit/ ../public/coverage/unit
#    - mv ../htmlcov_integration/ ../public/coverage/integration

  artifacts:
      paths:
      - public

  only:
    - master

  when: always
