doc/_build
*~
*.pyc
venv/
.hypothesis/
.coverage
indica.egg-info/
dist/
htmlcov/
.dir-locals.el
#*.pkl
indica/git_version
.vscode/
!tests/unit/readers/ppf_samples.pkl
!tests/unit/readers/invalid_adf11_file.dat
*.png
*.prof
*.lprof
.ropeproject/
