[build-system]
requires = ["poetry-core>=1.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | venv
  | dist
)/
'''

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.poetry]
name = "indica"
version = "0.1.0"
description = "Integrated Diagnostic Composition Analysis"

license = "GPL-3.0-or-later"

authors = [
    "Marco Sertoli <marco.sertoli@outlook.com>",
    "Chris MacMackin <chris.macmackin@ukaea.uk>"
]
maintainers = [
    "Evie Litherland-Smith <evie.litherland-smith@ukaea.uk>",
    "Shane Scully <shane.scully@ukaea.uk>",
    "Chris MacMackin <chris.macmackin@ukaea.uk>",
]
repository = "https://github.com/ukaea/Indica"
documentation = "https://indica-ukaea.readthedocs.io/"

readme = 'README.md'  # Markdown files are supported
include = [".git", "indica/git_version"]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
prov = "^1.5.3"
netCDF4 = "^1.5.4"
numpy = "^1.21.0"
scipy = "^1.6.2"
xarray = "0.16.0"
matplotlib = "^3.3.0"
sal = "^1.2.2"
sphinx = {version = "^4.0.0", optional = true}
sphinx-rtd-theme = {version = "^1.0.0", optional=true}
sphinxcontrib-plantuml = {version = "^0.23", optional = true}

[tool.poetry.dev-dependencies]
click = "^8.0.0"
coverage = {extras = ["toml"], version = "^5.2.1"}
hypothesis = {extras = ["numpy"], version = "^5.24.2"}
mypy = "^0.942"
pre-commit = "^2.9.2"
pytest = "^6.0.1"
pytest-cov = "^2.10.0"
pytest-xdist = "^2.0.0"
sphinx = "^4.0.0"
sphinx-rtd-theme = "^1.0.0"
sphinxcontrib-plantuml = "^0.23"
types-setuptools = "^57.4.14"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-rtd-theme", "sphinxcontrib-plantuml"]

[tool.poetry.build]
generate-setup-file = false
script = ".get_git_commit.py"

[tool.mypy]
install_types = true
non_interactive = true

[[tool.mypy.overrides]]
module = [
    "matplotlib.*",
    "numpy.*",
    "prov.*",
    "sal.*",
    "scipy.*",
]
ignore_missing_imports = true
