# This workflow will test that documentation is successfully generated

name: sphinx docs

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop
    paths:
      - .github/workflows/docs.yml
      - indica/**
      - doc/**
      - poetry.lock

jobs:
  docs:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8 # should match value in .readthedocs.yml

    - name: Set up cache
      uses: actions/cache@v2
      id: cache
      with:
        path: .venv
        key: venv-pip-${{ runner.os }}-${{ hashFiles('**/poetry.lock', '.github/workflows/docs.yml')}}

    - name: Ensure cache is healthy
      if: steps.cache.outputs.cache-hit == 'true'
      shell: bash
      run: source .venv/bin/activate &&
           (timeout 10s pip --version || (rm -rf .venv && echo "::set-output name=cache-bad::true"))
      id: cache-checkup

    - name: Install plantuml
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y plantuml

    - name: Install dependencies
      shell: bash
      run: python -m venv .venv &&
           source .venv/bin/activate &&
           pip install .[docs]
      if: ${{ steps.cache-venv.ouputs.cache-hit != 'true' || steps.cache-checkup.outputs.cache-bad == 'true'}}

    - name: Test docs build successfully
      run: source .venv/bin/activate &&
           make -C doc html SPHINXOPTS="-W --keep-going"
