# This workflow will install Python dependencies and run linters

name: linting

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:

  lint:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Lint the code
      env:
        SKIP: no-commit-to-branch
      uses: pre-commit/action@v3.0.0
